
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}
#page1, #page2, #page3{
  height: 100vh;
  width: 100%;
 
 
}
#move{
  background-color: #D8FF04;
}
.marque h1{
  font-size: 60px;
}
.marque{
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0 1.5vw;
}
.marque img{
  width: 80px;
  
}