@font-face {
  font-family: china;
  src: url(./3856NeueMachina.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
.section1 {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
.part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

nav h1 {
  font-size: 30px;
}
nav h1 i {
  display: inline-block;
  rotate: 45deg;
}
nav h4 {
  font-size: 20px;
  font-weight: 500;
}
nav button {
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid #000;
  background-color: transparent;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.center {
  height: 85%;
  width: 100%;
  padding: 70px 80px;
  display: flex;
}
.center-part1 {
  height: 100%;
  width: 40%;
}

.center-part1 h1 {
  font-size: 5vw;
  font-family: china;
}
.center-part1 p {
  font-size: 1.6vw;
  width: 95;
  margin-top: 25px;
  margin-bottom: 20px;
}
.center-part1 button {
  background: #000;
  color: #fff;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 25px;
  cursor: pointer;
  border: none;
}
.center-part2 {
  height: 100%;
  width: 60%;
  position: relative;
}
.center-part2 img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
}
.section1bottom img {
  height: 2.7rem;
  filter: brightness( 0% ) contrast( 0% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
}

/* section1 ends here */

/* section2 start here */
.section2 {
  height: 100%;
  width: 100%;
  padding: 20px 50px;
}
.section2 .services {
  padding: 70px 20px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start; ;
  gap: 50px;
  margin-top: 30px;
}
.services h3 {
  background-color: #b9ff66;
  font-weight: 500;
  padding: 5px 10px 3px 10px;
  border-radius: 5px;
  font-family: china;
  font-size: 40px;
}
.services p {
  width: 60%;
  font-size: 20px;
  font-weight: 500;
  font-family: china;
}
.container{
  height: 86%;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.elem{
  flex-shrink: 0;
  height: 300px;
  width: 48%;
  border: 3px solid black;
  border-radius: 50px;
  padding: 60px;
  box-shadow: 0px 15px 0px black;
  display: flex;
}
.elem-part1{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.elem-part2{
  height: 100%;
  width: 50%;

}
.elem-part2 img{
  height: 100%;
}
.elem-part1 h2{
  font-size: 30px;
  background-color: #b9ff66;
  font-family: china;
  font-weight: 500;
  width: fit-content;
  padding: 0px 5px;
  border-radius: 10px;

}
.elem-part1 h4{
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  gap: 15px;

  
}
.elem-part1 h4 i{
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-weight: 900;

}