* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
#page1 {
  height: 100%;
  width: 100%;
  background-color: #29c6e9;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: #8ceae4;
}
#page2 h1 {
  
  font-size:  40vw;
  color: #340707;
}
#page3 {
  height: 100%;
  width: 100%;
  background-color: #4677e2;
}
